.workouts {
    margin: 10px;
    /* Add margin for spacing between elements */
    margin-top: 50vh;
}

.workout-display {
    display: flex;
    justify-content: center;
}

.workouts a {
    text-decoration: none;
    padding: 8px 16px;
    color: #fff;
    border-radius: 5px;
}


.Available {
    background-color: green
}

.not-Available {
    background-color: red
}

/* Workout page showing exercises */
#exerciseContainer {
    display: flex;
    flex-direction: column;
   text-align: center;
   align-items: center;
    
}

.exercise-styling {
    width: 50vw;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
    height: 115px;
    overflow: hidden;
}
 .closeButton{
    margin-right: -87%;
    padding: 5px;
 }
/* Login page showing exercises */
#login-page {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: end;
    
}

.input-field {
    margin: 10px;
}


.logo{
    width: 300px;
    height: 250px;
}

.logo-font {
 font-size: 150px;
}


/* workout page */
.button-section{
    text-align: center;
    margin-bottom: 30px;
}
.button-section button{
    margin-top: 10px;
    margin-right: 10px;
}
#overrideTimer{
    display: none;
    padding-left: 15px;
}