:root {
    font-size: 62.5%;
    color: blue;

}
/* Using root to rem for global styling for all htmls, so we don't need to make multiple stylesheets */
/* Default font-size of page = 16px, so setting root to 62.5% = 10px */
/* 1 rem = 10px */

/* But, if for any reason we need to make another sheet for anyreason we can */

body {
    font-size: 1.6rem;
    
}
footer {
    font-size: 1.6rem;
}
/* Accessiblity for browsers with font scaling */

/* So just scale font sizes via rem (1 rem = 10px) */ 
.workouts {
    margin: 10px; /* Add margin for spacing between elements */
    margin-top: 50vh;
}
.workout-display {
    display: flex;
    justify-content: center;
}
.workouts a {
    text-decoration: none;
    padding: 8px 16px;
    color: #fff;
    border-radius: 5px;
}
.Available {
    background-color:green
}
.not-Available {
    background-color:red
}

/* workout page showing exercises */
#exerciseContainer {
    display: flex;
    flex-direction: row;
}
.exercise-styling{
    width: 20vw;
    margin-right: 20px;
    border: 1px solid black;
    padding:10px;
    margin-bottom: 20px;
}


/* login page showing exercises */
#login-page{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    justify-content: center;
}
.input-field{
    margin: 10px;
}
#button{
    border: 2px solid black;
    padding: 5px;
    z-index: 5;
    cursor: pointer;
}