
.Available {
    background-color: green
}

.not-Available {
    background-color: red
}

/* Workout page showing exercises */
#exerciseContainer {
    display: flex;
    flex-direction: row;
}

.exercise-styling {
    width: 20vw;
    margin-right: 20px;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
}

/* Login page showing exercises */
#login-page {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.input-field {
    margin: 10px;
}

#button {
    border: 2px solid black;
    padding: 5px;
    z-index: 5;
    cursor: pointer;
}

.logo{
    width: 300px;
    height: 250px;
   
}